/* Application Layout */
.app_layout {
  display: flex;
}

/*------------------------------------------------ GENERAL ELEMENTS -------------------------------------------------------*/
/* Inputs -------------------------- */
.textInput span {
  visibility: visible;
}

/* Buttons -------------------------- */
button.buttonSmall {
  width: 9.2rem;
  height: 2.8rem;
}

button.buttonMedium {
  width: 13.8rem;
  height: 2.8rem;
}

button.buttonLarge {
  width: 17rem;
  height: 3.4rem;
}

button.buttonPrimary {
  background-color: var(--color-rocketest-2);
  color: var(--color-rocketest-8);
}

button.buttonSecondary {
  border: 1px solid var(--color-rocketest-2);
  background-color: transparent;
  color: var(--color-rocketest-2);
}

button.buttonTertiary {
  background-color: var(--color-rocketest-3);
  color: var(--color-rocketest-8);
}

/* SideMenu ------------------------- */
.sideMenu {
  width: 18rem;
  height: 100vh;
  background-color: var(--color-rocketest-8);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.signoutContainer {
  margin-top: 5rem;
}

.sideMenu .logoContainer {
  margin: 2.75rem 0 4.6rem 0;
  text-align: center;
}

.sideMenu .logoContainer .logo {
  position: inherit !important;
  width: 57% !important;
  height: auto !important;
}

.sideMenu .profile {
  display: grid;
  text-align: center;
  margin-bottom: 4.6rem;
  color: var(--color-rocketest-3);
  font-size: 1rem;
}

.sideMenu .profile .profilePic {
  position: inherit !important;
  margin-bottom: 15px;
  border-radius: 10px;
  width: 44% !important;
  height: auto !important;
  max-width: 8rem;
  min-height: 8rem;
  background-color: var(--color-rocketest-3);
}

.sideMenu .profile span:last-child {
  /* User Name */
  margin-top: 5px;
  font-weight: 600;
}

/* SideMenu Buttons ------------------------- */
.menuBtn {
  position: relative;
  display: flex;
  width: 100%;
  padding: 1rem;
  cursor: pointer;
}

.menuBtn:hover,
.menuBtn.active {
  background-color: var(--color-rocketest-6);
}

.menuBtn .active {
  position: absolute;
  top: 0;
  left: 0;
  width: 8px;
  height: 100%;
  border-radius: 8px;
  background-color: var(--color-rocketest-3);
}

.menuBtn .icon {
  margin: 0 1.5rem 0 3.2rem;
}

.menuBtn.active .text {
  /* Text of the selected (active) page */
  font-weight: 700;
}

.menuBtn .text {
  flex-grow: 1;
  font-weight: 500;
  color: var(--color-rocketest-2);
}

/* Search Bar ------------------------- */
.searchbar {
  position: absolute;
  top: 2rem;
  right: 4rem;
}

.searchbar input {
  border-radius: 27rem;
  width: 27rem;
  height: 2.8rem;
  padding: 0.9rem 1.2rem 0.9rem 3.1rem;
  background-color: var(--color-rocketest-8);
  color: var(--color-rocketest-2);
  font-size: 0.9rem;
}

.searchbar input:placeholder {
  color: var(--color-rocketest-9);
}

.searchbar img {
  margin: auto auto auto 0.9rem;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0.5rem;
  pointer-events: none;
}

/* Back To Top Arrow ----------------------- */
.backToTopArrow {
  position: absolute;
  bottom: 2rem;
  right: 4rem;
  cursor: pointer;
}

/* ---------------------------------------- TESTS PAGE: GENERAL ---------------------------------------------------- */
.testsTopMenu {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 2.9rem 0 3.3rem 0;
  width: 33rem;
  height: 1.9rem;
  color: var(--color-rocketest-2);
  font-weight: 500;
  cursor: pointer;
}

.testsTopMenu a {
  position: relative;
  width: fit-content;
}

.testsTopMenu .topMenuActiveBorder,
.testsTopMenu a:hover {
  font-weight: 700;
}

.testsTopMenu .topMenuActiveBorder div {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 0.2rem;
  border-radius: 5rem;
  background-color: var(--color-rocketest-3);
}

/* ---------------------------------------- TESTS PAGE: OVERVIEW ---------------------------------------------------- */
.dashboardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 2.5rem 4rem 0 0;
  max-width: 150rem;
}

.dashboardCard {
  margin-bottom: 2rem;
  padding: 1.5rem 2.5rem 1.5rem 2.5rem;
  border-radius: 1.6rem;
  height: 18.8rem;
  background-color: var(--color-rocketest-8);
}

.dashboardCard.oneAndHalf_col {
  width: 26rem;
}

.dashboardCard.two_col {
  width: 35.4rem;
}

.dashboardCard.three_col {
  width: 54rem;
}

.dashboardCard span {
  display: block;
  margin-bottom: 0.4rem;
  color: var(--color-rocketest-3);
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.03em;
}

/* ---------------------------------------- TESTS PAGE: MY TESTS ---------------------------------------------------- */
.testsFiltersContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.9rem;
  width: 54.75rem;
}

.testsSearchbar {
  position: relative;
  top: 0;
  right: 0;
}

.testsFiltersContainer select {
  padding: 0 1.2rem 0 1.2rem;
  border-radius: 9.75rem;
  width: 9.75rem;
  height: 2.8rem;
  font-family: "Montserrat";
  font-size: 0.9rem;
  cursor: pointer;
  background-color: var(--color-rocketest-8);
  appearance: none;
}

.testsFiltersContainer select option {
  background-color: var(--color-rocketest-7);
}

.testsFiltersContainer .sortIconContainer {
  padding-top: 0.8rem;
  border-radius: 50%;
  width: 2.8rem;
  background-color: var(--color-rocketest-8);
  text-align: center;
  cursor: pointer;
}

.selectContainer {
  position: relative;
}

.selectContainer img {
  position: absolute;
  top: 0.9rem;
  right: 1.2rem;
  pointer-events: none;
}

img.arrowRotate {
  top: 1rem;
  transform: rotate(-90deg);
}

.testCardsContainer {
  justify-content: left;
  margin-left: -1.6rem;
}

.testCardsContainer a {
  margin: 0 0 2rem 1.6rem;
}

.testCardInfoContainer {
  padding: 1.6rem 1.25rem 1.6rem 1.25rem;
  border-radius: 0 0 1.6rem 1.6rem;
  background-color: var(--color-rocketest-8);
}

.testCardImgContainer {
  border-radius: 1.6rem 1.6rem 0 0;
  width: 16.9rem;
  height: 8.9rem;
  overflow: hidden;
}

.testCardImgContainer img {
  object-fit: cover;
}

.testCardInfoContainer {
  width: 16.9rem;
}

.testCardInfoContainer > span:first-of-type {
  /* Test Title */
  display: block;
  margin-bottom: 0.8rem;
  height: auto;
  color: var(--color-rocketest-3);
  font-size: 0.875rem;
  font-weight: 700;
  letter-spacing: 3%;
  text-transform: uppercase;
}

.testCardInfoContainer .testInfo {
  display: flex;
  margin-bottom: 0.6rem;
}

.testCardInfoContainer .testInfo:last-of-type {
  margin-bottom: 0;
}

.testCardInfoContainer .testInfo span {
  display: block;
  margin-left: 0.9rem;
  color: var(--color-rocketest-2);
  font-size: 0.8rem;
}

.testCardInfoContainer > span {
  /* Test Description */
  display: block;
  height: 4.5rem;
  font-weight: 500;
  font-size: 0.8rem;
  color: var(--color-rocketest-9);
  overflow: hidden;
}

/* ---------------------------------------- TESTS PAGE: CREATE TEST ---------------------------------------------------- */
.createTestBreadcrumbs {
  display: inline-block;
  margin-bottom: 2rem;
}

.createTestBreadcrumbs a {
  font-size: 0.75rem;
  color: var(--color-rocketest-2);
}

.createTestBreadcrumbs a:hover {
  color: var(--color-rocketest-3);
}

.createTestBreadcrumbs a.createTestActivePage,
.createTestBreadcrumbs a.createTestActivePage:hover {
  font-weight: 700;
  color: var(--color-rocketest-2);
  cursor: default;
}

.createTestBreadcrumbs img {
  margin: 0.25rem 0.75rem 0 0.75rem;
  transform: rotate(-180deg);
}
