/* Application Layout */
.app_layout {
  display: flex;
}

main.bgColorLight {
  display: flex;
  padding: 0;
  background-color: var(--color-rocketest-8);
}

.strongMedium {
  font-weight: 600;
}

/*------------------------------------------------ GENERAL ELEMENTS -------------------------------------------------------*/
/* Loading */
.loadingContainer {
}

.loadingContainer .loadingSpinner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100px;
}

/* Pages' Images */
.pageImgContainer {
  position: fixed;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0.6;
  z-index: 10;
}

.pageImgContainerScrollable,
.pageImgContainerDashboard {
  position: absolute;
  left: -18rem;
  height: auto;
}

.pageImgContainerDashboard {
  top: 0;
}

.pageImgContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Special Pages' Content */
.toTop {
  position: relative;
  z-index: 99;
}

.editProfileIcon,
.backToProfileArrow {
  position: absolute;
  cursor: pointer;
  z-index: 20;
}

.editProfileIcon {
  left: 12.2rem;
  top: 3.3rem;
  width: 1.6rem;
}

.backToProfileArrow {
  left: 5.64rem;
  top: 3.6rem;
  width: 0.6rem;
}

/* Information Icon Tooltip */
.infoIcon {
  display: inline-block;
  margin-left: 0.625rem;
  width: 0.9rem;
}

.infoIcon:hover {
  cursor: help;
}

.registerInfoIcon,
.registerInfoIconTester {
  position: absolute;
  left: 4.8rem;
}

.registerInfoIcon {
  top: 26.2rem;
}

.registerInfoIconTester {
  top: 24.6rem;
}

/* Inputs -------------------------- */
.optionInput {
  width: 35.5rem;
}

.textInput > label,
.textInput span,
.optionsText,
.optionInput label,
.profilePicInputContainer label,
.inputLabel {
  display: inline-block;
  margin: 1.8rem 0 0.9rem 0;
  color: var(--color-rocketest-3);
  font-weight: 700;
  font-size: 0.9rem;
}

.textInput span,
.optionInput span,
.profilePicInputContainer > span {
  margin-right: 0;
  color: var(--color-rocketest-10);
  font-weight: 700;
  font-size: 0.9rem;
}

.textInput input,
.textInput textarea,
.optionInput input,
.authSelect select {
  padding: 1rem 1.5rem;
  height: 2.8rem;
  border: 1px solid var(--color-rocketest-4);
  border-radius: 0.6rem;
  background-color: transparent;
}

.textInput input.inputLarge,
.textInput select.inputLarge {
  width: 35.5rem;
}

.textInput input.inputSmall,
.textInput select.inputSmall {
  padding: 1rem 1.2rem;
  width: 30.4rem;
}

.textInput input[type="password"] {
  font-size: 1.2rem;
}

.textInput input[type="date"] {
  font-size: 0.83rem;
}

.textInput textarea.inputLarge {
  min-width: 35.5rem;
  max-width: 35.5rem;
  min-height: 6.4rem;
  max-height: 14rem;
}

.textInput textarea.inputSmall {
  min-width: 30.4rem;
  max-width: 30.4rem;
  min-height: 6.4rem;
  max-height: 14rem;
}

.optionInput input {
  margin: 0 0 0.9rem 1.34rem;
  width: 33.5rem;
}

input.mandatoryOptInput {
  margin: 0 0 0.9rem 0.92rem;
}

.optionInput button {
  margin-left: 2rem;
}

.optionInput span.uploadedImgDetails {
  margin-right: 0.75rem;
  color: var(--color-rocketest-9);
  font-size: 0.8rem;
  font-weight: 400;
}

.optionInput .deleteImgIcon {
  margin-bottom: -2px;
  cursor: pointer;
}

.optionInput .addOptionIcon,
.optionInput .deleteOptionIcon {
  float: right;
  margin: 0.8rem 0 0 1.75rem;
  cursor: pointer;
}

.authSelect select {
  height: 3.21rem;
  cursor: pointer;
  appearance: none;
}

.authSelect img.arrowRotate {
  top: 1.2rem;
}

/* Checkbox Input ------------------- */
.checkboxInputContainer {
  margin-bottom: 1rem;
}

.checkboxInputContainer:last-of-type {
  margin-bottom: 0;
}

.checkboxInputContainer input {
  margin-right: 0.8rem;
  height: unset;
  cursor: pointer;
}

.checkboxInputContainer label {
  display: block;
  font-size: 0.875rem;
  color: var(--color-rocketest-9);
  font-weight: 500;
}

.checkboxInputContainer span.description {
  margin: 0.2rem 0 0 1.6rem;
  color: var(--color-rocketest-3);
  font-size: 0.8rem;
  font-weight: 400;
}

/* Profile Picture Upload Input ----- */
.profilePicInputContainer {
  float: left;
  clear: both;
}

.profilePicInputContainer label {
  display: block;
}

.profilePicInputContainer .profilePicContainer {
  float: left;
  margin-bottom: 1.5rem;
  border: 2px dashed var(--color-rocketest-8);
  border-radius: 1.1rem;
  width: 9.2rem;
  height: 9.2rem;
  background-color: var(--color-rocketest-5);
  overflow: hidden;
}

.profilePicInputContainer .profilePicContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profilePicInputContainer .profilePicUploadContainer {
  float: left;
  margin-left: 2.8rem;
}

.profilePicInputContainer .profilePicUploadContainer button {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
}

.profilePicInputContainer .profilePicUploadContainer span {
  display: inline-block;
  margin-right: 0.8rem;
  font-weight: 500;
  font-size: 0.9rem;
  color: var(--color-rocketest-9);
}

.profilePicInputContainer .profilePicUploadContainer img {
  /* Delete Icon */
  cursor: pointer;
}

/* Case: Double Input */
.doubleInputContainer {
  display: flex;
  justify-content: space-between;
}

.doubleInputContainer input,
.doubleInputContainer select {
  width: 16.8rem !important;
  height: 3.21rem !important;
}

/* Buttons -------------------------- */
.goBackArrow {
  position: absolute;
  top: 2.7rem;
  left: -4rem;
  background-color: transparent;
}

button.buttonSmall {
  width: 9.2rem;
  height: 2.8rem;
}

button.buttonMedium {
  width: 13.8rem;
  height: 2.8rem;
}

button.buttonLarge {
  width: 17rem;
  height: 3.4rem;
}

button.buttonExtraLarge {
  margin-right: 0 !important;
  width: 30.4rem;
  height: 2.8rem;
}

button.buttonExtraExtraLarge {
  margin-right: 0 !important;
  width: 35.5rem;
  height: 2.8rem;
}

button.buttonPrimary {
  background-color: var(--color-rocketest-2);
  color: var(--color-rocketest-8);
}

button.buttonSecondary {
  border: 1px solid var(--color-rocketest-2);
  background-color: transparent;
  color: var(--color-rocketest-2);
}

button.buttonTertiary {
  background-color: var(--color-rocketest-3);
  color: var(--color-rocketest-8);
}

button.buttonTertiarySecondary {
  border: 1px solid var(--color-rocketest-3);
  background-color: transparent;
  color: var(--color-rocketest-3);
}

/* SideMenu ------------------------- */
.sideMenu,
.sideMenuAuth {
  width: 18rem;
  height: 100vh;
  background-color: var(--color-rocketest-8);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 99;
}

.signoutContainer {
  margin-top: 5rem;
}

.sideMenu .logoContainer,
.sideMenuAuth .logoContainer {
  margin: 2.75rem 0 4.6rem 0;
  text-align: center;
}

.sideMenu .logoContainer .logo,
.sideMenuAuth .logoContainer .logo {
  position: inherit !important;
  width: 57% !important;
  height: auto !important;
}

.sideMenu .profile {
  display: grid;
  text-align: center;
  margin-bottom: 4.6rem;
  color: var(--color-rocketest-3);
  font-size: 1rem;
}

.sideMenu .profile .profilePic {
  /* User Profile Picture */
  position: inherit !important;
  margin-bottom: 15px;
  border-radius: 10px;
  width: 44% !important;
  height: auto !important;
  max-width: 8rem;
  min-height: 8rem;
  object-fit: cover;
}

.sideMenu .profile span:last-child {
  /* User Name */
  margin-top: 5px;
  font-weight: 600;
}

/* SideMenu Buttons ------------------------- */
.menuBtn {
  position: relative;
  display: flex;
  width: 100%;
  padding: 1rem;
  cursor: pointer;
}

.menuBtn:hover,
.menuBtn.active {
  background-color: var(--color-rocketest-6);
}

.menuBtn .active {
  position: absolute;
  top: 0;
  left: 0;
  width: 8px;
  height: 100%;
  border-radius: 8px;
  background-color: var(--color-rocketest-3);
}

.menuBtn .icon {
  margin: 0 1.5rem 0 3.2rem;
}

.menuBtn.active .text {
  /* Text of the selected (active) page */
  font-weight: 700;
}

.menuBtn .text {
  flex-grow: 1;
  font-weight: 500;
  color: var(--color-rocketest-2);
}

/* Search Bar ------------------------- */
.searchbar {
  position: absolute;
  top: 2rem;
  right: 4rem;
  z-index: 99;
}

.searchbar input {
  border-radius: 27rem;
  width: 27rem;
  height: 2.8rem;
  padding: 0.9rem 1.2rem 0.9rem 3.1rem;
  background-color: var(--color-rocketest-8);
  color: var(--color-rocketest-2);
  font-size: 0.9rem;
}

.searchbar input:placeholder {
  color: var(--color-rocketest-9);
}

.searchbar img {
  margin: auto auto auto 0.9rem;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0.5rem;
  pointer-events: none;
}

/* Back To Top Arrow ----------------------- */
.backToTopArrow {
  position: absolute;
  bottom: 2rem;
  right: 4rem;
  cursor: pointer;
}

.backToTopArrow:hover {
  opacity: 0.85;
}

/* Follow People Card ------------------------ */
.followPeopleCard {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  padding: 0.625rem 1.25rem;
  border-radius: 0.6rem;
  width: 35.4rem;
  height: 4.4rem;
  background-color: var(--color-rocketest-8);
}

.followPeopleCard .leftContent .userProfilePicContainer {
  display: inline-block;
  margin-right: 1.3rem;
  width: 3.1rem;
  height: 3.1rem;
}

.followPeopleCard .leftContent .userProfilePicContainer:hover,
.followPeopleCard .leftContent span.userNameTxt:hover {
  opacity: 0.85;
}

.followPeopleCard .leftContent .userProfilePicContainer img {
  border-radius: 0.6rem;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.followPeopleCard .leftContent span.userNameTxt {
  display: inline-block;
  margin: 0.3rem 0;
  font-weight: 600;
  font-size: 0.875rem;
  color: var(--color-rocketest-3);
}

.followPeopleCard .leftContent > span {
  display: inline-block;
  font-size: 0.75rem;
  color: var(--color-rocketest-9);
}

.followPeopleCard .leftContent > span.bullet {
  margin: 0 0.2rem;
}

.followPeopleCard .leftContent a {
  float: left;
}

.followPeopleCard .rightContent button {
  display: block;
  margin: 3px 0 0 0;
}

/* Pages Slider ------------------------------------------------------ */
.pagesSlider {
  margin: 1.5rem auto 0 auto;
  display: flex;
  justify-content: space-between;
  width: 12.5rem;
}

.arrowRight {
  transform: rotate(180deg);
}

.pagesSlider > * {
  padding-top: 0.25rem;
}

.pagesSlider > a {
  padding-top: 0.32rem;
}

.pagesSlider > a:hover {
  opacity: 0.65;
}

.pagesSlider span {
  font-weight: 500;
  font-size: 0.9rem;
  color: var(--color-rocketest-2);
}

.pagesSlider span.currentPage {
  padding-top: 0.25rem;
  border-radius: 3.4rem;
  width: 3.4rem;
  height: 1.75rem;
  text-align: center;
  background-color: var(--color-rocketest-8);
}

/* Popups ------------------------------------- */
.popUpOpacityLens {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.popUpContent {
  position: fixed;
  top: 35%;
  left: 33.5%;
  border-radius: 1.6rem;
  width: 41rem;
  height: 14.3rem;
  background-color: var(--color-rocketest-8);
}

.popUpContent .topPart {
  display: flex;
  justify-content: space-between;
  padding: 1.2rem 2.4rem;
  border-radius: 1.6rem 1.6rem 0 0;
  height: 3.6rem;
  background-color: var(--color-rocketest-2);
}

.popUpContent .topPart span {
  color: var(--color-rocketest-8);
  letter-spacing: 0.03em;
  font-weight: 500;
  font-size: 1rem;
}

.popUpContent .topPart button {
  margin: 0;
  background-color: transparent;
}

.popUpContent .bottomPart {
  padding: 2rem 2.4rem;
}

.popUpContent .bottomPart span {
  display: block;
  margin-bottom: 1.6rem;
}

.popUpContent .bottomPart button:last-of-type {
  margin-right: 0 !important;
}

/* ----------------------------------------------- AUTHENTICATION --------------------------------------------------------- */
/* Side Menu ----------------- */
.sideMenuAuth {
  position: relative;
  padding: 3.75rem 5rem;
  width: 38%;
  min-width: 30rem;
  max-width: 45.5rem;
  background-color: var(--color-rocketest-2);
}

.sideMenuAuth .bottomContainer {
  position: absolute;
  bottom: 3.75rem;
}

.sideMenuAuth .socialMediaContainer {
  display: flex;
  justify-content: space-between;
  width: 7.1rem;
  margin-bottom: 2rem;
}

.sideMenuAuth .linksContainer {
  display: flex;
  justify-content: space-between;
  width: 23.4rem;
}

.sideMenuAuth .linksContainer a,
.sideMenuAuth .linksContainer span {
  font-weight: 700;
  font-size: 0.75rem;
  color: var(--color-rocketest-8);
}

.sideMenuAuth .linksContainer span {
  font-weight: 300;
}

.sideMenuAuth .socialMediaContainer img:hover,
.sideMenuAuth .linksContainer a:hover {
  opacity: 0.85;
}

/* Text Slider */
.sideMenuAuth h5 {
  margin: 14.5rem 0 2.25rem 0;
}

.sideMenuAuth p {
  font-size: 1rem;
  line-height: 1.7rem;
}

.sliderButtonsContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 2.25rem;
  width: 11.5rem;
}

.sliderButtonsContainer button {
  width: 3.8rem;
  height: 0.5rem;
  border-radius: 4rem;
  background-color: var(--color-rocketest-8);
  opacity: 0.5;
  cursor: pointer;
}

.sliderButtonsContainer button:hover {
  opacity: 0.8;
}

.sliderButtonsContainer button.activeSliderButton {
  opacity: 1;
}

/* Right Side Content -------- */
.authContainer {
  position: relative;
  margin: auto;
  width: min-content;
  height: min-content;
  padding: 4rem 0;
}

.authContainer h4 {
  margin-bottom: 1.5rem;
}

.authContainer .checkboxAndForgotPwContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 1.3rem;
}

.authContainer .checkboxAndForgotPwContainer .checkboxContainer {
  width: 7rem;
}

.authContainer .checkboxCompanyContainer {
  margin-top: 0.6rem;
  width: 5.4rem;
}

.authContainer .checkboxTandCContainer {
  margin-top: 0.6rem;
  width: 12rem;
}

.authContainer .checkboxTAndCGeneral {
  display: flex;
  justify-content: space-between;
  width: 21.2rem;
}

.checkboxContainer label {
  font-size: 0.75rem;
  font-weight: 600;
  color: var(--color-rocketest-4);
}

.authContainer .checkboxTAndCGeneral a {
  margin-top: 0.57rem;
}

.authContainer .checkboxTAndCGeneral a > span {
  font-weight: 600;
  color: var(--color-rocketest-10);
}

.checkboxContainer {
  display: flex;
  justify-content: space-between;
}

.checkboxContainer input {
  cursor: pointer;
}

.authContainer .checkboxAndForgotPwContainer a,
.authContainer > span,
.authContainer > a,
.authContainer .checkboxTAndCGeneral a {
  font-size: 0.75rem;
  font-weight: 700;
  color: var(--color-rocketest-2);
}

.authContainer > span {
  font-weight: 400;
  margin-right: 0.2rem;
}

.authContainer > a:hover,
.authContainer .checkboxAndForgotPwContainer a:hover,
.authContainer .checkboxTAndCGeneral a:hover {
  opacity: 0.85;
}

.authContainer button {
  margin: 1.9rem 0 1.3rem 0;
}

/* User Type ------------ */
.authContainer .userTypeBtnContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
}

.authContainer .userTypeBtn {
  margin: 0;
  padding: 1.5rem 3.4rem;
  border: 1px solid var(--color-rocketest-3);
  width: 14.25rem;
  height: 19rem;
  background-color: transparent;
}

.authContainer .userTypeBtn.selected {
  background-color: var(--color-rocketest-6);
}

.authContainer span.userTypeTitle,
.authContainer span.userTypeDescription {
  display: block;
  width: 7.3rem;
  text-transform: none;
  text-align: left;
}

.authContainer span.userTypeTitle {
  margin: 1.6rem 0 0.7rem 0;
  font-weight: 600;
  font-size: 1rem;
  color: var(--color-rocketest-2);
}

.authContainer span.userTypeDescription {
  font-weight: 500;
  font-size: 0.9rem;
  color: var(--color-rocketest-9);
  letter-spacing: 0;
}

.digitalSav {
  margin-top: 1.8rem;
  display: block;
  color: var(--color-rocketest-9);
  font-weight: 700;
  font-size: 0.9rem;
}

.digitalSavAssessment {
  margin: -1rem 0 0.9rem 0;
}

/* Terms and Conditions ------------ */
.authContainer p {
  margin: 2.9rem 0 1.9rem 0;
  width: 31rem;
  color: var(--color-rocketest-9);
  text-align: justify;
}

.termsAndConditionsText a {
  color: var(--color-rocketest-3);
  text-decoration: underline;
}

.termsAndConditionsText span {
  display: block;
  color: var(--color-rocketest-3);
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: -0.7rem;
}

/* Contact Us, Forgotten Password ----- */
.authTwoButtonPages button:last-of-type {
  margin: 0;
}

/* ---------------------------------------- TESTS PAGE: GENERAL ---------------------------------------------------- */
.testsTopMenu {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 2.9rem 0 3.3rem 0;
  width: 33rem;
  height: 1.9rem;
  color: var(--color-rocketest-2);
  font-weight: 500;
  cursor: pointer;
  z-index: 99;
}

.testsTopMenu a {
  position: relative;
  width: fit-content;
}

.testsTopMenu .topMenuActiveBorder,
.testsTopMenu a:hover {
  font-weight: 700;
}

.testsTopMenu .topMenuActiveBorder div {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 0.2rem;
  border-radius: 5rem;
  background-color: var(--color-rocketest-3);
}

.disabled {
  opacity: 0.55;
  cursor: auto;
}

/* ---------------------------------------- TESTS PAGE: TEST -------------------------------------------------------- */
.testSectionDescription {
  display: block;
  margin-top: 0.75rem;
  color: var(--color-rocketest-9);
  font-size: 1rem;
}

.testSectionDescription:first-of-type {
  margin-top: 1.5rem;
  color: var(--color-rocketest-1);
}

.testSectionTitle {
  display: block;
  margin-top: 2.1rem;
  font-size: 1rem;
  color: var(--color-rocketest-3);
  font-weight: 700;
  text-transform: uppercase;
}

.testQuestionIndicator {
  display: block;
  margin: 1.6rem 0 0.625rem 0;
  color: var(--color-rocketest-1);
  font-size: 0.9rem;
}

.testQuestionTitle {
  display: block;
  margin-bottom: 1.2rem;
  color: var(--color-rocketest-2);
  font-weight: 700;
  font-size: 1.2rem;
}

.testImgAndOptionContainer {
  display: inline-block;
  margin-right: 1.75rem;
}

.testImgAndOptionContainer:last-of-type {
  margin-right: 0;
}

.testImgAndOptionContainer .testImgContainer {
  margin-bottom: 0.9rem;
  border-radius: 1.6rem;
  width: 29rem;
  height: 29rem;
  background-color: #fff;
}

.testImgAndOptionContainer .testImgContainer img {
  border-radius: 1.6rem;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.testImgAndOptionContainer .testOptionContainer {
  margin-bottom: 1.75rem;
}

.testImgAndOptionContainer .testOptionContainer input {
  margin-right: 0.5rem;
}

.testImgAndOptionContainer .testOptionContainer label {
  color: var(--color-rocketest-9);
}

.testButtonsContainer {
  margin-top: 2rem;
}

/* ---------------------------------------- TESTS PAGE: OVERVIEW ---------------------------------------------------- */
.dashboardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 2.5rem 4rem 0 0;
  max-width: 150rem;
}

.dashboardCard {
  margin-bottom: 2rem;
  padding: 1.5rem 2.5rem 1.5rem 2.5rem;
  border-radius: 1.6rem;
  height: 18.8rem;
  background-color: var(--color-rocketest-8);
}

.dashboardCard.oneAndHalf_col {
  width: 26rem;
}

.dashboardCard.two_col {
  width: 35.4rem;
}

.dashboardCard.three_col {
  width: 54rem;
}

.dashboardCard span {
  display: block;
  margin-bottom: 0.4rem;
  color: var(--color-rocketest-3);
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.03em;
}

/* ---------------------------------------- TESTS PAGE: MY TESTS ---------------------------------------------------- */
.testsFiltersContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.9rem;
  width: 54.75rem;
}

.testsSearchbar {
  position: relative;
  top: 0;
  right: 0;
}

.testsFiltersContainer select {
  padding: 0 1.2rem 0 1.2rem;
  border-radius: 9.75rem;
  width: 9.75rem;
  height: 2.8rem;
  font-family: "Montserrat";
  font-size: 0.9rem;
  cursor: pointer;
  background-color: var(--color-rocketest-8);
  appearance: none;
}

.testsFiltersContainer select option {
  background-color: var(--color-rocketest-7);
}

.testsFiltersContainer .sortIconContainer {
  padding-top: 0.8rem;
  border-radius: 50%;
  width: 2.8rem;
  background-color: var(--color-rocketest-8);
  text-align: center;
  cursor: pointer;
}

.testsFiltersContainer .sortIconContainer .sort {
  margin-left: 0.2rem;
}

.testsFiltersContainer .sortIconContainer .sort.ASC {
  transform: none;
}

.testsFiltersContainer .sortIconContainer .sort.DESC {
  transform: scaleY(-1);
}

.selectContainer {
  position: relative;
  width: fit-content;
}

.selectContainer img {
  position: absolute;
  top: 0.9rem;
  right: 1.2rem;
  pointer-events: none;
}

img.arrowRotate {
  top: 1rem;
  transform: rotate(-90deg);
}

.testCardsContainer {
  justify-content: left;
  margin-left: -1.6rem;
}

.testCardsContainer a {
  margin: 0 0 2rem 1.6rem;
}

.testCardInfoContainer {
  padding: 1.6rem 1.25rem 1.6rem 1.25rem;
  border-radius: 0 0 1.6rem 1.6rem;
  background-color: var(--color-rocketest-8);
}

.testCardImgContainer {
  border-radius: 1.6rem 1.6rem 0 0;
  width: 16.9rem;
  height: 8.9rem;
  overflow: hidden;
}

.testCardImgContainer img {
  object-fit: cover;
}

.testCardInfoContainer {
  width: 16.9rem;
}

.testCardInfoContainer > span:first-of-type {
  /* Test Title */
  display: block;
  margin-bottom: 0.8rem;
  height: auto;
  color: var(--color-rocketest-3);
  font-size: 0.875rem;
  font-weight: 700;
  letter-spacing: 3%;
  text-transform: uppercase;
}

.testCardInfoContainer .testInfo {
  display: flex;
  margin-bottom: 0.6rem;
}

.testCardInfoContainer .testInfo:last-of-type {
  margin-bottom: 0;
}

.testCardInfoContainer .testInfo span {
  display: block;
  margin-left: 0.9rem;
  color: var(--color-rocketest-2);
  font-size: 0.8rem;
}

.testCardInfoContainer > span {
  /* Test Description */
  display: block;
  height: 4.5rem;
  font-weight: 500;
  font-size: 0.8rem;
  color: var(--color-rocketest-9);
  overflow: hidden;
}

.noTestsAvailable {
  margin-left: 1.6rem;
}

/* Test Detail Page ------------------------------- */
.testDetailContainer {
  width: 90.6rem;
  display: flex;
  justify-content: space-between;
}

.testDetailLeftContainer {
  width: 35.5rem;
}

.testDetailLeftContainer .testDetailTitle {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.testDetailLeftContainer .testDetailTitle h1 {
  margin-right: 19.2rem;
}

.testDetailLeftContainer .testDetailTitle img {
  cursor: pointer;
}

.testDetailLeftContainer .testDetailTitle a:hover,
.testDetailLeftContainer > a:hover,
.testDetailLeftContainer .testDetailTitle img:hover {
  opacity: 0.85;
}

.testDetailLeftContainer .testImgContainer {
  height: 15.3rem;
}

.testDetailLeftContainer .testImgContainer > img {
  border-radius: 1.6rem;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.testDetailLeftContainer > a {
  display: block;
  margin: 0.5rem 0 1.3rem 0;
  color: var(--color-rocketest-2);
  font-size: 0.9rem;
  text-decoration: underline;
}

.testDetailLeftContainer h2 {
  margin-top: 3rem;
}

.testDetailLeftContainer h2:last-of-type {
  margin-bottom: 1rem;
}

.testInfoSmall {
  display: flex;
}

.testInfoSmall span {
  display: block;
  margin: 0.2rem 0 0 0.7rem;
  font-size: 0.9rem;
  color: var(--color-rocketest-2);
}

.testDetailLeftContainer .smallInfoContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 0.5rem;
}

.testDetailLeftContainer .testBtnsContainer {
  margin-top: 3rem;
}

.testDetailLeftContainer .testBtnsContainer button:first-of-type {
  margin-bottom: 1rem;
}

.testDetailRightContainer {
  border-radius: 1.5rem;
  padding: 1.8rem 3.1rem;
  width: 41.2rem;
  background-color: var(--color-rocketest-5);
}

.testDetailRightContainer h2 {
  margin: 0 0 1.5rem 0;
}

/* Find Testers Page ------------------------------- */
.findTestersMain h6 {
  margin-bottom: 3rem;
}

.findTestersMain span.labelSpan {
  display: inline-block;
  color: var(--color-rocketest-3);
  font-weight: 700;
  font-size: 0.9rem;
}

.findTestersMain .findTestersSearch {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.5rem;
  width: 43rem;
}

.findTestersMain .findTestersSearch .textInput > label {
  margin-top: 0;
}

.findTestersMain .findTestersSearch button {
  margin-top: 2.25rem;
}

/* Find Testers Search Bar & Filters */
.findTestersFiltersContainer {
  margin: 1rem 0 1.5rem 0;
  width: 39rem;
}

.testersSelectAllCheckbox {
  display: flex;
  justify-content: space-between;
  width: 5.6rem;
  margin-top: 0.7rem;
}

.testersSelectAllCheckbox input,
.testerCheckboxCard input {
  width: 1rem;
  height: 1rem;
}

.testersSelectAllCheckbox label {
  color: var(--color-rocketest-2);
  font-size: 0.9rem;
}

/* Testers Checkbox Card */
.testerCheckboxCard {
  display: flex;
  justify-content: space-between;
  margin: 0 1.75rem 1rem 0;
  width: 16.7rem;
}

.testerCheckboxCard input {
  margin-top: 1rem;
}

.testerCheckboxCardContacted .testerSmallCard {
  opacity: 0.5;
}

.testerCheckboxCard .testerSmallCard {
  border-radius: 0.625rem;
  width: 14.625rem;
  background-color: var(--color-rocketest-8);
}

.testerCheckboxCard .testerSmallCard > div {
  /* User Profile Picture Container */
  float: left;
  width: 3.125rem;
  height: 3.125rem;
}

.testerCheckboxCard .testerSmallCard > div > img {
  /* User Profile Picture */
  border-radius: 0.625rem;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.testerCheckboxCard .testerSmallCard span {
  margin-left: 0.9rem;
  font-weight: 400;
  font-size: 0.75rem;
  color: var(--color-rocketest-2);
}

.testerCheckboxCard .testerSmallCard span:first-of-type {
  display: inline-block;
  margin-top: 0.4rem;
  font-weight: 600;
}

/* Testers Checkbox Container */
.testersResultsContainer {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  max-width: 93rem;
}

/* Testers Message Container */
.findTestersMain .findTestersMsg {
  position: relative;
}

.findTestersMain .findTestersMsg img {
  position: absolute;
  top: 1.95rem;
  left: 18.7rem;
}

.findTestersMain .findTestersMsg button {
  margin: 1rem 0 3rem 0;
}

/* Test Results Page ------------------------------- */
.noTestersContainer {
  margin: 0.5rem 0;
}

.noTestersContainer > span {
  margin-left: 0.5rem;
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--color-rocketest-2);
  vertical-align: top;
}

.pieChartsContainer {
  margin: 2.5rem 0 3rem -1.75rem;
  width: 92rem;
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
}

.pieChartsContainer > * {
  margin: 0 0 1.75rem 1.75rem;
  width: 30%;
  height: 14rem;
  font-size: 1rem;
}

.pieChart {
  padding-top: 1rem;
  border-radius: 1rem;
  border: 0.1rem solid var(--color-rocketest-5);
  background-color: var(--color-rocketest-8);
}

.pieChart svg > g:first-of-type > text {
  /* Chart Title */
  font-weight: 700;
  fill: var(--color-rocketest-3);
}

.pieChart text {
  font-size: 0.8rem;
}

.pieChart rect {
  fill: transparent;
}

/* ---------------------------------------- TESTS PAGE: CREATE TEST ---------------------------------------------------- */
.createTestBreadcrumbs {
  display: inline-block;
  margin-bottom: 2rem;
}

.createTestBreadcrumbs a {
  font-size: 0.75rem;
  color: var(--color-rocketest-2);
}

.createTestBreadcrumbs a:hover {
  color: var(--color-rocketest-3);
}

.createTestBreadcrumbs a.createTestActivePage,
.createTestBreadcrumbs a.createTestActivePage:hover {
  font-weight: 700;
  color: var(--color-rocketest-2);
  cursor: default;
}

.createTestBreadcrumbs img {
  margin: 0.25rem 0.75rem 0 0.75rem;
  transform: rotate(-180deg);
}

.testContentsMenu {
  position: absolute;
  left: 44rem;
  top: 39.3rem;
  padding: 1.2rem;
  border-radius: 1.5rem;
  background-color: var(--color-rocketest-8);
  visibility: visible;
}

.testsContentsMenuInvisible {
  visibility: hidden;
}

.testContentsMenuRow {
  display: flex;
  margin-top: 0.9rem;
}

.testContentsMenuRow:first-of-type {
  margin-top: 0;
}

.testContentsMenuRow span {
  display: block;
  margin: 0.5rem 0 0 1.4rem;
  width: 5.6rem;
  font-weight: 600;
  font-size: 0.75rem;
  color: var(--color-rocketest-2);
  cursor: pointer;
}

.testContentsMenuRow img {
  cursor: pointer;
}

.testContentsMenuRow span:hover,
.testContentsMenuRow img:hover {
  opacity: 0.85;
}

.testContentsMenuRow img.rotateArrow {
  transform: rotate(180deg);
}

/* Test Details Page -------- */
.testDetailsContainer {
  display: flex;
  justify-content: space-between;
  width: 91.6rem;
}

.testDetailsContainer .leftSide,
.testDetailsContainer .rightSide {
  width: 35.6rem;
}

.testDetailsContainer .leftSide h2 {
  display: inline-block;
}

.testDetailsContainer .leftSide .ageRangeContainer {
  margin-bottom: 0.5rem;
}

.testDetailsContainer .leftSide .ageRangeContainer label {
  display: block;
  margin: 1.8rem 0 0.9rem 0;
  color: var(--color-rocketest-3);
  font-weight: 700;
  font-size: 0.9rem;
}

.testDetailsContainer .rightSide button {
  margin-top: 7.9rem;
  margin-right: 0;
}

.testDetailsContainer .rightSide button:first-of-type {
  margin-right: 1.6rem;
}
