@font-face {
  font-family: "Montserrat";
  src: url("fonts/Montserrat-Light.ttf") format("truetype");
  font-weight: 200;
}

@font-face {
  font-family: "Montserrat";
  src: url("fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Montserrat";
  src: url("fonts/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Montserrat";
  src: url("fonts/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Montserrat";
  src: url("fonts/Montserrat-Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Montserrat";
  src: url("fonts/Montserrat-ExtraBold.ttf") format("truetype");
  font-weight: 900;
}

:root {
  --color-rocketest-1: #011e48;
  --color-rocketest-2: #0b4c84;
  --color-rocketest-3: #1086ce;
  --color-rocketest-4: #4a97cc;
  --color-rocketest-5: #c9e8fd;
  --color-rocketest-6: #e8f6ff;
  --color-rocketest-7: #eff9ff;
  --color-rocketest-8: #ffffff;
  --color-rocketest-9: #595959;
  --color-rocketest-10: #af0000;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: "Montserrat";
  font-weight: 400;
  color: black;
  background-color: var(--color-rocketest-6);
}

a {
  color: inherit;
  text-decoration: none;
}

input {
  font-family: "Montserrat";
  font-weight: 400;
}

h1 {
  margin: 0 0 2.5rem 0;
  font-weight: 700;
  font-size: 1.6rem;
  letter-spacing: 0.03em;
  color: var(--color-rocketest-2);
}

main {
  position: relative;
  padding-left: 5.6rem;
  flex: 1;
  height: 100vh;
  overflow: auto;
}
